@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

html,
body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
}
