@import "../../variables.scss";

button {
  width: 350px;
  height: 90px;
  border: 1px solid whitesmoke;
  color: $yellow;
  background-color: $dark-blue;
  transition: transform 0.3s;
  font-size: 1.1rem;

  &:hover {
    transform: scale(1.2);
    color: $dark-blue;
    background-color: $yellow;
  }
}
